[2015-10-08 10:42] kiequoo opened #3 "Future plans"
Hi, this is pretty cool, and I just wondered if there were any plans to carry on developing it into a releasable library some time in future?

[2015-10-08 13:32] rcavalcanti commented on #3
Hi Dan,

Thanks for your PR. I'll have a look into it very soon.
Really cool the idea of using the Magnet Pattern and also cool that you like the project.

Yes, I'm planning a release but there are some corners that I want to polish before it:

1) logging is broken, I have a fake logger that prints on stdout using println. I need to fix it before releasing. I'm working on that today.
2) need more

[2015-10-08 13:33] rcavalcanti commented on #3
Disregard my comment about the passivation. I just saw it is include already on PR #2.

Thanks!

[2015-10-08 14:12] kiequoo commented on #3
Hi Renato,

Unfortunately I couldn't make it to your talk at Amsterdam.scala but one of my colleagues was there and told me about your talk and this repo.  I'm just getting started on a Akka Persistence based project myself and I ended up creating a lot of the same things in my project, so would love to scrap that part and use this lib instead :)

[2015-10-15 19:53] rcavalcanti opened #4 "Provide means to ProjectionActor to save its current position"
As currently implemented the `ProjectionActor` will restart always from event 0 which of course is not the desired behavior.

This can be implemented as a trait that defines some basic interface to save and retrieve the offset.

A default implementation can be based on `PersistentActor`, thus the state of `ProjectionActor with PersistentActor` is the offset. However, the goal is to have a flexible

[2015-10-16 07:13] rcavalcanti commented on #3
Hi @kiequoo

I'm closing this issue as we have already a first (super experimental) release.

Feel free to add new issues and suggest features. And to send other PRs! :-)

[2015-10-16 07:13] #3 closed

[2015-10-16 07:17] rcavalcanti opened #5 "Return a wrapper type when wachting Projections"
When watching events to be applied on Projections, we should be able to identify, in case of timeouts, that the events were effectively applied on the Write Model, but not yet on the Read Model.

In the occurrence of a timeout, we can't know, in the current implementation, if the timeout is on the Read Model  or simply because the command failed on the Write Model.

[2015-10-16 07:32] rcavalcanti opened #6 "Watching of Events must be explicit about which Projection to watch"
`CQRSContext.watchEvent` will only work if events are processed by a single Projection

If two or more `ProjectionActors` can consume the same event, than we can never know which one have already processed the events.

Therefore we must be explicit about which projections we want to watch

Eventually, if possible, we could also watch more than one projection at a time.

[2015-10-16 20:02] rcavalcanti commented on #4
Reopening it.
Such an actor only needs an snapshot, no events.

Whether we only save the current state as snapshot or we delete events. Here is not about having a stream of domain events, but only a pointer to the last processed DomainEvent offset.

[2015-10-19 08:53] rcavalcanti commented on #4
ProjectionActor saves it state as snapshot
(https://github.com/strongtyped/fun-cqrs/commit/69b752975992ba9ab95a54fc3a6368a8edbfb034)

However, this is also suboptimal as we can't easily read the position by looking at DB.

We still need a flexible way of configuring how the pointer is persisted.

[2015-10-22 08:16] cvanfleteren opened #10 "Handle empty event lists"
Make sure it works with command monitor
If you disallow empty lists, can you make it clear in the api?

[2015-10-22 08:18] cvanfleteren opened #11 "make it possible to watch for the first (n?) events of a command"
If you have a list of events, command monitor only returns when they've all been processed.
Make it possible to return after first (n?) events are processed

[2015-10-23 09:28] rcavalcanti commented on #10
This is actually all implemented

[code]

If the events from Subscribe is empty, the tryComplete will immediately send a Done to the requester and shutdown

[2015-10-23 09:28] #10 closed

[2015-10-23 13:40] kiequoo opened #13 "Last event replayed for ProjectionActor with PersistedOffsetDb"
I noticed something a bit strange when using PersistedOffsetDb.  It seems the first event has an offset of 1, second of 2 etc.  So once we have processed e.g. two events, it does saveCurrentOffset with a value of 2.  If we then shutdown the app and restart, it loads in the persisted offset, which is 2, and starts loading the stream with that offset, which causes it to process the last event with a

[2015-10-23 13:43] rcavalcanti commented on #13
Hmm

This seems to be a bug on the LevelDb driver.

At work we are using our own postgres plugin (postgres + slick + play-json) and it works as expected

Note that the LeveldbReadJournal is quite experimental in akka 2.4.0

[2015-10-23 13:44] rcavalcanti commented on #13
At least we are repeating one event and not losing one! :-)

Btw, although is not always possible, I think it's a good practice to make sure that the projections are always idempotent.

If it's not possible to stay idempotent, at least be able to skip an event.

[2015-10-23 13:51] kiequoo commented on #13
In that case close this issue, as it's not actually causing me any issue!

[2015-10-23 13:52] kiequoo commented on #13
Any plans to make this public? :)

[2015-10-23 13:54] rcavalcanti commented on #13
I think it will be made public in the near future, but I can't make any promise.

I'm not the one involved with it nor the one to decide when things get open source.

We are working for the flemish government and the policy is to make as much as possible public as long it's not sensible.

Which is of course the case for such a plugin.

[2015-10-25 20:16] rcavalcanti commented on #4
Resolved by:
https://github.com/strongtyped/fun-cqrs/commit/2958a1131b7d4d871159e1c483b707d915072395
and
https://github.com/strongtyped/fun-cqrs/commit/0b54aed80dd89fe45a2c3cf9259a58e13cabf997

[2015-10-25 20:16] #4 closed

[2015-11-03 16:06] rcavalcanti commented on #13
It seems that there is effectively a bug here. The ProjectionActor starts the query from the currentOffset, but the currentOffset is the last processed offset.

[2015-11-03 16:10] #13 closed

[2015-11-19 09:59] rcavalcanti opened #17 "Configure a in-memory akka-persistence plugin"
Currently we use LevelDB everywhere. This is suboptimal because it requires some tricks sbt / classpath to make it work during test.

As a result, we don't have yet tests for the actors. If we move to a in-memory plugin we can write decent tests for the actors

[2015-11-19 10:01] rcavalcanti opened #18 "AggregateActor is not waiting for snapshot save confirmation"
If we have a very low Snapshot threshold, snapshot can be saved out of order therefore AggregateActor must wait for the Snapshot confirmation.

Moreover, old Snapshot must be deleted to free up storage.

[2015-11-19 23:38] #5 closed

[2015-11-19 23:38] #6 closed

[2015-11-20 20:40] rcavalcanti opened #20 "Rename package to io.funcqrs"

[2015-11-20 22:11] rcavalcanti opened #22 "There is current no guarantee that an produced and persisted event will be applied next"
This bug can happens if a Behavior defines process a command but doesn't define a handler for the related event.

As a result, the event will be persisted, but not applied.

It'll be hard to enforce it at compile time, but we should be able to check it if the Behavior will be able to handle the event before we send it to the event store.

[2015-11-21 00:31] #22 closed

[2015-11-21 00:33] rcavalcanti commented on #20
resolved by commit cd4e8f9eb2cbb32a3176b356b7c97bd920e54f81

[2015-11-21 00:33] #20 closed

[2015-11-21 00:34] rcavalcanti commented on #22
Added a check before persisting the event.

This is sub-optimal because we can only detect it runtime.

[2015-12-04 23:26] rcavalcanti opened #25 "Saving event stream offset must be async"
PersistedOffsetCustom.saveCurrentOffset returns Unit, but should return Future[Unit].

Custom implementations must be able to run db operations async without blocking the ProjectionActor.

[2015-12-08 20:41] rcavalcanti opened #26 "ProjectionActor should use a BackoffSupervisor"

[2015-12-13 09:37] rcavalcanti opened #28 "Make Akka a real backend"
Fun.CQRS works currently only with Akka and the dependency to Akka is explicit.

We would like to introduce the notion of a backend. So we could have different backend implementations: Akka, in-memory (for test), etc.

We'll need to refactor the EventsSourceProvider as it depends on akka-streams api. Instead, it should provide a reactive-stream Publisher

[2015-12-13 10:27] rcavalcanti opened #29 "Make it possible to produce more than one event when instantiating a new aggregate"
We will need to adapt:
1) AggregateActor to expect more than one event at creation time
2) ProjectionMonitor return types: we support ProjectionResults for create (1 event) and update (n events). This can be simplified to only one kind of ProjectionResult
3) BehaviorDsl magnets will need to be adapted as well. Eventually, unifying them.
4) BindingDsl also needs to be adapted (let's put it on hold

[2015-12-13 10:30] rcavalcanti opened #30 "Fix behaviorFor method in BehaviorDSL"
behaviorFor is broken since we made BehaviorDsl builds immutable.

Ideally we should remove the need of writing:
val dsl = new BehaviorDsl[Foo]
import dsl.api._

[2015-12-13 10:35] rcavalcanti opened #31 "Abstract over the return types of command handlers in Behavior trait"
Current Behavior force us to always work with a Future.

In most of the case, we don't need a Future, but because of the current design even the tests have to deal with Futures.

If we can abstract over the return type (using Free Monads or a variation of it) we could let it be picked or defined by the chosen backend.

For instance, a in-memory test backend could us Id monad or a Try while the Akk

[2015-12-14 11:57] rcavalcanti opened #32 "BindingDSL design"
We are working on a new DSL to configure behaviors.

The main feature of this new DSL is that it makes it possible to bind the outcome of a Command Validation to an Event handler.

Up to now, we have the following syntax:
[code]

[2015-12-24 08:31] rcavalcanti commented on #29
This is done, but not yet integrated in develop branch.
(see https://github.com/strongtyped/fun-cqrs/commit/8d77cc98d588231b9ec22edafcf332aa40a0d6bf)

[2015-12-24 08:33] rcavalcanti commented on #31
Currently implemented here:
https://github.com/strongtyped/fun-cqrs/commit/8d77cc98d588231b9ec22edafcf332aa40a0d6bf

Need some clean-up and documentation before merging into develop.

[2015-12-24 08:38] rcavalcanti commented on #32
Implementation work is being done here:
https://github.com/strongtyped/fun-cqrs/tree/feature/binding-dsl

[2015-12-24 08:40] rcavalcanti commented on #32
After discussing with some DDD/CQRS experts, we decided to change the naming of method to come closer to the common CQRS vocabulary.

The current implementation looks like:
[code]

[2015-12-28 14:40] kiequoo opened #33 "Using a different serializer for the aggregate snapshots"
When AggregateActor saves a snapshot, it saves it as a Tuple2 with the Actor state and an Aggregate Option.  However, when using an alternative serialization format (such as Json with Stamina lib), this means you need to define the serialization not for any concrete class, but for Tuple2.  This causes a problem when there is more than one aggregate as it's not possible to differentiate one from th

[2015-12-28 14:50] kiequoo commented on #33
See PR... now in my .conf I can do this:

[code]
Where `chargers.Charger` and `config.TariffConfig` are my aggregates

[2015-12-28 21:23] rcavalcanti commented on #33
You are totally right. Saving the State and the Option is useless.

[2015-12-28 21:26] #33 closed

[2016-01-22 15:54] #29 closed

[2016-01-22 15:54] #11 closed

[2016-01-22 15:54] #28 closed

[2016-01-22 15:54] #30 closed

[2016-01-22 15:54] #31 closed

[2016-01-22 15:54] #32 closed

[2016-01-29 18:00] jlhervo opened #36 "Upgrade akka-stream to 2.x version"
Hi,

thank you for this great library which makes CQRS/ES development really enjoyable.

I would like to know if you have any plan to upgrade akka-stream-experimental dependency to the latest version (2.0.3) ?

The old akka-stream-experimental (1.0) is not compatible with akka-persistence journal implementations like [akka-persistence-jdbc](https://github.com/dnvriend/akka-persistence-jdbc) and th

[2016-01-30 16:14] rcavalcanti commented on #36
Hi @jlhervo,

I wasn't aware of it. Thanks for the heads up.

I think I should monitor it closer. Things are expected to get broken very easy with experimental modules.

Have you tried to update it yourself? Is it just matter of updating the dependency?

Anyway, I can do it. But I won't be able to do it before Tuesday. If you want you can send me a PR.

Thanks

[2016-01-31 11:35] jlhervo commented on #36
Hi,

as Akka 2.4.2 will be released soon (with first non-experimental akka-stream version), we can expect that future versions will not break official TCK.

The only breaking change I found was `EventsSourceProvider` not returning `Unit` but `akka.NotUsed` as materialized value.

I created PR #37 (based on the forked version I use in my projects). All tests passed but let me know if something seem

[2016-01-31 22:53] rcavalcanti commented on #36
Hi,

Just merged your PR. Thanks a lot.

I see that you are using a fork from the develop branch. I'm currently incorporating some feedback I got during DDD Europe conference and it'll probably break your project.

It's not a big bang, but the Binding DSL will change a bit and the AggregateService will be replaced by a AggregateRef (much like a ActorRef).

The Lottery sample will be updated accord

[2016-01-31 22:53] #36 closed

[2016-02-03 16:35] #25 closed

[2016-02-03 16:35] #26 closed

[2016-02-24 13:16] pawelkaczor opened #39 "Collaboration with external actors to validate/process the command"
Is modelling of such collaboration possible using fun-cqrs?

[2016-02-24 14:26] rcavalcanti commented on #39
Yes, it is.
The  handling of commands can be done async. It can be a service call or a message sent to an actor.

For that you have to define a asyncHandler instead of a simple handler.

An asyncHandler receives a function from Command => Future[Event].
Or, asyncHandler.manyEvents which receives a function from Command => Future[List[Event]]

That way you ask another actor to do some validation an

[2016-02-24 14:55] pawelkaczor commented on #39
Thanks for the answer. Now I see how it works. Good job!

Would be interesting to compare your impl of AR with the one from Denis Mikhaylov: https://github.com/notxcain/akka-ddd/blob/master/akka-ddd-core/src/main/scala/pl/newicom/dddd/aggregate/AggregateRootActor.scala

[2016-02-24 14:55] #39 closed

[2016-02-24 15:42] rcavalcanti commented on #39
Interesting. I need to make some time to look into it.

Our main design goal was to have the aggregate behavior and protocol (commands and events) coded outside akka. Which seems to be his (or your, I see is a fork from a project of yours) approach as well.

Thanks for the link.

[2016-02-24 23:14] rcavalcanti opened #40 "Introduce Invokers for Projections"
We have invokers for command handlers (command side) that can be interpreted depending on the chosen backend (akka, in-memory, etc).

The next step is to refactor the Projection to use the same technique. This will open the door for other backend implementation. For instance, a Slick backend could benefit of invokers for DBIO for both side (command and query side).

[2016-02-24 23:16] rcavalcanti opened #41 "Passivation strategy via configuration"
We must be able to configure different passivation strategies for the AggregateActor via configuration.

This was previously possible when declaring aggregate, but since the last refactoring it is not possible anymore because the user facing api is now akka agnostic.

[2016-03-04 20:17] rcavalcanti opened #43 "AkkaBackend should not instantiate it's own ActorSystem"
This was a bad idea. Because of trait initialization order we were always initializing an ActorSystem and eventually overriding it.

We could solve it by making it lazy, but there is little added value to have one initialized by Fun.CQRS itself. Better to let the users pass their on ActorSystem.

[2016-03-04 20:25] #43 closed

[2016-03-23 12:32] #41 closed

[2016-04-04 11:18] rcavalcanti opened #44 "ProjectionActor is not unstashing all message in case of failure"

[2016-04-04 11:20] #44 closed

[2016-04-04 14:40] rcavalcanti opened #45 "ProjectionActor back pressure is completely wrong"
We must remove `ForwardingActorSubscriber` and make `ProjectionActor` a ActorSubscriber.

[2016-04-05 09:18] CrowdHailer opened #46 "Example application. Ensuring Globally unique names for each Lottery Game"
First thanks very much for Fun.CQRS.
I am building my first CQRS based system and am using this Library. It would be great if there was a place to discuss it. I have questions that might not want to be issues. For example I am curious in the Lottery example if you had a requirement that each Game had a unique name how you would add this in?

If you have no plans can I suggest [Gitter](http://gitte

[2016-04-05 09:28] rcavalcanti commented on #46
Hi Peter,

We do have a Gitter channel.
https://gitter.im/strongtyped/fun-cqrs?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

You can also ask question here and start a discussion that become a feature request.

[2016-04-05 09:29] rcavalcanti commented on #46
I marked this issues as a 'question'. We can discuss it here and eventually make it 'enhancement'

[2016-04-05 09:31] CrowdHailer commented on #46
I'm sorry I don't know how I missed that gitter link in the README. right where I would expect as well.

[2016-04-05 09:43] CrowdHailer commented on #46
So my question is; How to go about adding the requirement that each lottery game has a unique name. So that they can be looked up by that name. I have had some thoughts about how to achieve this(below). but guess that someone else must have had a similar requirement.

- Option 1, Have the code that initially creates the Game Actors check if a name is taken and if not tell the Actor its name and th

[2016-04-05 12:36] #45 closed

[2016-04-05 13:24] rcavalcanti opened #47 "Projection names should be optional when configuring"
Projection names are useful for persisting the projection pointer and eventually for join on projections results.

This make them obligatory, however we can fallback to sensible defaults (eg: class.getSimpleName) in order to reduce configuration overhead.

[2016-04-05 13:40] #47 closed

[2016-04-05 21:08] rcavalcanti commented on #46
In both cases there is the possibility of creation an inconsistent state.

Option 1 is the best one because it doesn't not require the creation of a new actor. Although Fun.CQRS is strongly inspired by Akka, the intent is to stay Akka agnostic and Option 2 would invalidate this intention.

This can be achieved by defining a support table on the write side to control the uniqueness of the name. Not

[2016-04-11 07:14] rcavalcanti opened #49 "off-by-one bug in ProjectionActor when using akka-persistence-jdbc"
Issue originaly reported by @vpavkin in Gitter.
...
@rcavalcanti Hello again!
I've been playing around with FunCQRS, it is awesome! I have it working along with https://github.com/dnvriend/akka-persistence-jdbc plugin, and found a small issue I would like to hear your opinion on.
I'm sure there's some idea behind this implementation, so this is more of a "why it's the way it is" question than a bu

[2016-04-12 07:44] rcavalcanti commented on #49
Hi @vpavkin,

After some research, I have the impression that the error is on the plugin side.

I see the following on their source:

[code]

In `eventsByTag`, they drop everything up to the offset (offset included).

In `eventsByTagAndPersistenceId`, they retain everything with `sequenceNumber >= offset`, thus offset included in the result.

The second is aligned with LevelDB and Cassandra plugin

[2016-04-14 13:25] rcavalcanti commented on #18
We will change it to delete all old snapshot, not only the previous one.

Moreover, while in Busy state aggregate actor must still be able to react to any message except Commands

[2016-04-14 14:20] rcavalcanti commented on #18
fixed by https://github.com/strongtyped/fun-cqrs/commit/9bebecb9d29b2bb0614afa2c1779fe303d36bae8

[2016-04-14 14:20] #18 closed

[2016-04-14 14:22] rcavalcanti commented on #46
Hi @CrowdHailer,

I'm closing this 'question'. Please reopen it if you want to discuss it further or if you think the answer is not satisfatory.

[2016-04-14 14:22] #46 closed

[2016-04-19 18:09] vpavkin commented on #49
@rcavalcanti Sorry for being silent for some time. I see what you mean, definitely makes sense.
I agree that the main problem here is the lack of precise persistent query spec. Thanks for digging the truth! :)

Luckily, a workaround here is rather simple. Feel free to close this issue. :+1:

[2016-04-25 08:45] rcavalcanti commented on #49
Hi @vpavkin,

I won't close this issue for the moment as I want to investigate better what are the plans for the query API. I want to investigate it further before reaching the Akka team.

[2016-05-11 00:07] rcavalcanti opened #51 "AggregatorActorRef tell method not passing Aggregator Id"

[2016-05-12 04:18] #51 closed

[2016-05-12 05:42] rcavalcanti opened #52 "AggregateRef and AggregateActorRef unification"
Currently we have two kinds of AggregateRefs: `AggregateRef` itself and `AggregateActorRef`. However, they don't share the same trait. One could expect that ```AggregateActorRef extends AggregateRef```, but it's not the case.

The reason for that is `tell` and `ask` methods (! and ?) have different signatures when using the AkkaBackend. For instance,

In **AggregateRef** (used by InMemoryBackend)

[2016-05-21 20:54] rcavalcanti commented on #52
Just pushed a branch with the unification code:
https://github.com/strongtyped/fun-cqrs/tree/feature/52_aggregateRef_unification

Obviously there is some breaking changes, but only for those passing the timeout explicitly.

[2016-05-21 21:24] rcavalcanti opened #53 "Create Commands producing many events won't work"
There is a very specific situation where events produced by a single command won't be fully applied.

To illustrate the situation, we could extend the Lottery sample with a create command that adds participant while creating a Lottery.

[code]

This command is supposed to create a new lottery and add each participant sent with the command. If we choose to generate different events (recommended), w

[2016-05-21 21:31] rcavalcanti opened #54 "exists with predicate function"
AggregateRef and AggregateActorRef have a `exists()` method to check if the aggregate is initialized.

This method is confusing because it doesn't follow the convention in the scala world.

`exists` should be renamed to `isDefined` or `isInitialized`.

and we should have a new method with a predicate.
`def exists(pred: A => Boolean): F[Boolean]`
Where A is an AggregateLike and F the Functor define

[2016-06-03 10:01] #53 closed

[2016-06-03 13:31] #52 closed

[2016-07-09 13:22] vpavkin commented on #49
hi @rcavalcanti.
Just upgraded my project to FunCQRS 0.4.6 and akka-persistence-jdbc 2.5.2.
Bug doesn't seem to reproduce any more.

[2016-07-19 23:02] rcavalcanti commented on #49
Hi @vpavkin,

Nothing was added to on Fun.CQRS with respect to that. I think the fix comes from akka-persistence-jdbc 2.5.2.

I have saw some tweets from @dnvriend with the akka team discussing about the TestKit for akka persistence query. He may get involved with it.

I'll close this issue therefore.

[2016-07-19 23:02] #49 closed

[2016-08-09 23:41] pocman opened #58 "ViewBoundedAggregateActorRef is never used"
Hi,

I'm trying to understand all the work behind the `AkkaBackend` and I'm stuck trying to figure out how `ViewBoundedAggregateActorRef` can be used.
Could you provide some example on this topic ?

Thanks !

[2016-08-18 08:17] rcavalcanti commented on #58
Hi @pocman, my excuses for the late reply. I was on vacation when you send your message.

The `ViewBoundedAggregateActorRef` is a hidden feature that I'm not so happy with, that's the reason why it's not documented (it may disappear one day).

So, how it works?
Basically, the idea is to bound an aggregate to a view projection. This is only available for `AggregateActorRef`.

You can get one by cal

[2016-08-18 08:17] #58 closed

[2016-08-18 08:21] rcavalcanti opened #59 "InactivityTimeoutPassivationStrategySupport considered harmful"
`InactivityTimeoutPassivationStrategySupport` will never work properly.

Aggregates cannot 'kill' themselves based on a timeout because the AggregateManager can't be aware of it and start buffering Command that arrives while Aggregate is being killed.

As a result, Command arriving while an Aggregate is killing himself are simply lost.

[2016-08-18 12:48] #59 closed

[2016-08-26 22:16] aiacovella opened #60 "Resolve the issue of the handleEvent being called twice after handleCommand is called in Actions."
In reference to the issue with when handling a command the handle event code gets called twice.

The following details why it occurs:

This happens because after applying a command we apply all the events to the aggregate before sending it to persist but we discard the aggregate state after persisting, we re-apply them without discarding this is done to ensure that no event is persisted if they ca

[2016-08-26 22:21] pawelkaczor commented on #60
Events should be persisted once command is validated (constraints are checked). Or am I missing something?

[2016-08-27 02:43] trbngr commented on #60
This has tripped me up in the past and I've been meaning to open an issue too.

Thanks for remembering for me ;)

[2016-08-29 08:49] rcavalcanti commented on #60
@pawelkaczor you are right about the order of persisting. We produce Events by applying a command on the current aggregate instance.

But before we really persisted the events, we must be sure that we can apply the events on the aggregate. Imagine the situation where we add a command handler that produces one event, but we don't add an event handler for it. In such a scenario, we end up with an ev

[2016-08-29 09:03] trbngr commented on #60
I'd argue that the library shouldn't care if there's an event handler or not (although I do like the warnings).

If the command is valid, it should raise an event, that event should be persisted, and after that, there should be an *attempt* to apply the raised event.

The most important part of this is persisting the event. That's what our aggregates are for after all.

[2016-08-29 09:08] pawelkaczor commented on #60
@rcavalcanti so, if I understand correctly,  the fun-cqrs performs some kind of sanity-check of the Aggregate Root implementation on the runtime, that can result in command rejection

Unfortunately, the sanity-check algorithm may be confusing (the issue #60 has been created) and probably introduces accidental complexity. I would suggest reconsidering its value.  I think this kind of quality assura

[2016-08-29 09:58] rcavalcanti commented on #60
Fair enough.
I will remove it and add it as part of the test kit.

Thanks for the valuable feedback.

[2016-09-11 17:29] rcavalcanti commented on #60
Hi all,

There is a fix for this on branch feature/issue_60.

I solved it in a slight different way.

Event handlers are only called once, but the sanity check is still in place.

I keep it because I realised that I had already to paths doing an explicit sanity check and another one that was doing it anyway (let's say by design). I explain...

The Interpreter has three methods:
[code]
The `applyCo

[2016-09-12 16:53] pawelkaczor commented on #60
@rcavalcanti nice to see the improvement :+1: But, I think your explanation of the fix does not reflect actual changes in the code - I saw that the implementation of the `onCommand` was significantly changed.

[2016-09-13 09:09] rcavalcanti commented on #60
Euh! The main change in `onCommand` is the removal of call to `tryHandleAllEvents`. And the fact that it's not private.

Now, whoever implements a backend has call `applyCommand`.

[2016-09-13 09:39] rcavalcanti commented on #60
@pawelkaczor the error in `persisteAll` is fixed. Unfortunately we can't do it without using an internal counter. Check Lagom for inspiration and they are doing exactly the same.

The only clean way of doing it requires:
`persistAll[A](events: immutable.Seq[A])(handler:  immutable.Seq[A] ⇒ Unit)`
instead of
`persistAll[A](events: immutable.Seq[A])(handler: A ⇒ Unit)`

[2016-09-13 09:42] pawelkaczor commented on #60
@rcavalcanti  Thanks for the explanation.

[2016-09-13 11:21] pawelkaczor commented on #39
I just realized that the `tell` pattern can not be used for the collaboration (with the AggregateActor as the participant / sender).

[2016-09-13 21:56] rcavalcanti commented on #39
Indeed, the goal is to use `ask` from inside a `handleCommandAsync`

[2016-09-14 14:43] rcavalcanti opened #61 "Add a Cats extension module"
The goal is to have an extension module that we can use Validated or Xor as return time for command handlers.

Things that need to be added
- It should be possible to configure a Backend to use another Interpreter
- The Cats extension must provide a its own Backend for testing

[2016-09-14 14:47] rcavalcanti opened #62 "Add support for akka clustering"

[2016-09-15 09:18] #60 closed

[2016-09-25 04:53] patricknoir commented on #61
Hi Renato, given that Cats is deprecating Xor in favour of the new Either in scala 2.12 (right biased) do you see still see a value to provide support for Xor?

[2016-09-26 13:05] rcavalcanti commented on #61
Good point. Scala 2.12 is almost there so we could hold support for Xor and have it only for the new biased Either.

[2016-10-01 22:07] rcavalcanti commented on #61
I have done some progress on this (only analysis and some basic design) and some ideas and issues cames to the surface.

The main problem I'm facing right now is that whatever effect we choose on the behavior side, it always get transformed to the effect of the backend we use.

For instance, we have three effects that we can use when defining command handlers: `Future`, `Try` and `Identity`.

A co

[2016-10-03 20:49] rcavalcanti opened #63 "Removal of `handleCommandAsync`, `tryToHandleCommand` and `manyEvents` methods"
After some research for #61, it seems to be possible to remove the Actions method variants `handleCommandAsync`, `tryToHandleCommand` and `manyEvents`.

I was searching for ways to make `Actions` extensible so users could choose other return types for command handlers.

The new design is inspired by the magnet pattern and previous work from @kiequoo in Fun.CQRS.

Basically we can define actions me

[2016-10-05 03:58] pjan commented on #62
Hi @rcavalcanti,

I just discovered your library. I/We've been using `akka-(persistence)` heavily in my dayjob to work with persistent & distributed aggregate entities. Our internal library has evolved over the past year+, and now has striking resemblances with what you guys have here with `fun-cqrs`. Differences are:
- it's only for akka (no other backends)
- we don't use the concept of `Action`s

[2016-10-05 04:03] pjan opened #64 "timeout for applyCommand"
If `applyCommand` never `succeeds` or `fails`, your AggregateActor is pretty much stuck in a waiting state, unable to handle any new commands.

At the same time, if the `applyCommand` completes after the `ask timeout` you have, your ask may fail, but the command is/was still processed.

We solved this by wrapping or `applyCommand` method in an `ExpiringFuture`, which will fail with a `TimeoutExcep

[2016-10-05 06:58] rcavalcanti commented on #64
Thanks for the tip. I will have a look on it

[2016-10-05 07:10] pjan commented on #64
FYI:

implementation:
[code]

test:
[code]

which in our AggregateRootActor is used as follows:

[code]

You can only use this with either an `implicit ActorSystem` in scope (so you need to do that in your `AggregateActor`, or if you explicitly pass it in, together with the `ExecutionContext`. On that note, in our model, we can define on a per `AggregateRoot` type level what `dispatcher` to use. W

[2016-10-05 07:15] rcavalcanti commented on #62
Hi @pjan,

Cool to see that others are adopting more or less the same approach of having the aggregate Behavior as a separated abstraction.

Is this the project your are mentioning?
https://github.com/pjan/akka-ddd
I will have a look into it. May give me some inspirations.

Concerning your point about `Free`. The reason we are not using it is that `Actions` support different effects (Future, Try,

[2016-10-05 08:51] pjan commented on #62
[That](https://github.com/pjan/akka-ddd) project is rather old. It's where we started from 1.5 years ago, but lots of lessons learned in the meantime. Like I mentioned, the resemblance with `fun-cqrs` in a lot of the abstractions we have now are striking, up to the point of using the abstract path-dependent types to make sure we can make an `AggregateActor` accept any type of `AggregateLike`, with

[2016-10-05 08:59] pjan opened #65 "Eventhandling idempotency possibly flawed"
I believe that [this merge](https://github.com/strongtyped/fun-cqrs/commit/bb359ddc23bc9cc4ce8852594cc7e3f5ef5038b2), which tries to make sure events don't get applied to the state more than once, is partly flawed.

Indeed, the in-memory state will be the correct one, but as far as I can tell, events still get persisted to the persistent backend, and upon replay, will be used to calculate the new

[2016-10-05 11:20] rcavalcanti commented on #65
I don't get your point.

Events are applied after persisting and internal state is only update after that.

Replay only happens when aggregate is re-instantiated in which case they are not applied twice because whether we come from 0 or from a snapshot. There is no replay happening on a previous state that stays in-memory.

[2016-10-05 11:34] rcavalcanti commented on #62
Thanks for all this. I will certainly investigate.

ps: I'm 🇧🇷 , but I live in 🇧🇪 .
When you are around you should come once to our meetup (www.bescala.org).

[2016-10-05 11:54] pjan commented on #65
Please correct me if I'm wrong, but this is how I understand it:

1. `AggregateActor` receives a `Command`
2. The `applyCommand` of the `behaviour`/`interpreter` gets called. This executes asynchronously (future)
3. Upon success of the future, you have both the resulting `events` and updated `AggregateState`, which you send to yourself in a `Successful`
4. You receive the `Successful`, persist the

[2016-10-05 12:00] rcavalcanti commented on #65
But under which circumstances can the `Successful` message arrive twice in 4?

[2016-10-05 12:03] pjan commented on #62
I'm in 🇧🇪 early November, but pretty much at the other side of the country. An FP in Scala study group isn't super tempting for me to cross the Brussels Ring, especially not during Holidays.

I'll maybe try to clean up my code, (factor in the `AggregateRef` idea at the same time), and put it up on gh so you can browse it.

[2016-10-05 12:09] pjan commented on #65
This is impossible, but I understood this was what you were trying to protect against. Most likely my mistake, and misread / misunderstood. Can close. Apologies.

[2016-10-05 12:42] rcavalcanti commented on #65
My intention was to prevent other commands to be processed while we are still persisting the events. Classical become/unbecome thing.

I'm closing this one.

[2016-10-05 12:42] #65 closed

[2016-10-05 12:44] rcavalcanti commented on #62
You don't have to come for the FP study group. You can come along just to share your experience with CQRS/ES. ;-)

[2016-10-07 13:26] #63 closed

[2016-10-07 13:39] rcavalcanti commented on #17
this is done already
only query part is missing, but can be easily added when we start writing tests for it

[2016-10-07 13:39] #17 closed

[2016-10-09 19:12] rcavalcanti opened #66 "Simplifying Command and Events"
A command in Fun.CQRS must extends the `DomainCommand` trait
[code]

And an event must extends `DomainEvent`:
[code]

The reason why they have an EntityId and a CommandId is to support joining Aggregates and Projections. Which itself is a dubious feature.

This design increases the complexity when defining an Aggregate and is not obvious to developers why they must deal with it.

This should be a

[2016-10-15 07:59] rcavalcanti opened #67 "AkkaBackend: Sender doesn't get any notification in case of empty list of Events"
This is a regression bug introduced when fixing #60

[2016-10-19 14:27] #66 closed

[2016-10-19 14:27] #67 closed

[2016-10-20 07:31] francisdb opened #68 "Make the InMemoryBackend more flexible"
Currently the InMemoryBackend extends Backend[Identity]
Because of that you can not simply replace the AkkaBackend with the InMemoryBackend for testing. You need to write a complicated wrapper that translates the InMemoryAggregateRef[A] into a AggregateRef[A, Future] + quite some other unnecessary boilerplate

It would be nice if I could instantiate a `InMemoryBackend[T[_]]` by providing a `a:A =>

[2016-10-20 09:24] rcavalcanti commented on #68
Hi Francis,

Thanks for the suggestion and feedback.
Have you done some experiments with it? If so, can you push it on fork branch?

[2016-10-20 09:29] rcavalcanti commented on #68
One second thought...

The `InMemoryBackend` works with the `IdentityInterpreter` which interpret everything to `Identity[_]`.

We could have a `AbstractInMemoryBackend[F[_]]` and some implementations that that defines the type of `F[_]`.

So, the `AbstractInMemoryBackend[F[_]]` together with `IdentityInterpreter` gives you the current `InMemortyBackend`.

The `AbstractInMemoryBackend[F[_]]` toget

[2016-10-20 09:41] francisdb commented on #68
My use case was testing play controllers with an in memory backend by making my controller have a constructor with`billingBackend: BillingBackend` where BillingBackend looks like

[code]

But I got stuck when defining the InMemoryBillingBackend because it can't extend the current InMemoryBackend

[code]

So I then wanted to wrap the InMemoryBillingBackend but there I again got problems so I gave u

[2016-10-30 07:50] rabzu opened #69 "Improve error message when Aggregate is not configured"
Currently the error message is:

`java.util.NoSuchElementException: null
[info]  at scala.collection.concurrent.TrieMap.apply(TrieMap.scala:837) ~[scala-library-2.11.8.jar:na]
[info]  at io.funcqrs.akka.backend.AkkaBackend$class.aggregateRef(AkkaBackend.scala:32) ~[fun-cqrs-akka_2.11-0.4.6.jar:0.4.6]`

[2016-11-15 16:00] rcavalcanti opened #70 "Support for Scala 2.12"
Play Json extensions should whether be removed or move to an apart project.

As of now, we are not able to move to scala 2.12 because there is no play-json (yet) for 2.12.

This extension is not necessary for Fun.CQRS at all, so should not follow the same release cycle

[2016-11-15 16:06] rcavalcanti commented on #61
It's now possible to build an extensions (ie: new InvokerDirectives) for Cats.

However, I'm considering making Cats a full citizen in Fun.CQRS. I'm using it in an internal project right now, especially `Validated` and I'm quite happy with the results.

It's especially handy for fine-grained events.  Whenever we have a `Command` that may emit many `Events`. In that case, if we reject the `Command`

[2016-11-17 08:20] #70 closed

[2016-11-17 08:55] rcavalcanti commented on #64
Hi @pjan,

Checkout this last commit. I think we can achieve the same using `akka.pattern.after`

[2016-11-21 12:30] pjan commented on #64
Didn't know about that one. Interesting; similar implementation, but with a guard for finite durations. Will switch that out as well. Thanks!

[2016-11-30 18:45] aiacovella opened #72 "Upgrade EventsSourceProvider to use akka.persistence.query.EventEnvelope2 in Akka 2.4"
It is currently using EventEnvelope with an offset of type Long whereas in the latest Akka libs, that was deprecated in favor of EventEnvelope2 with an offset of type Offset

[2016-12-03 17:36] aiacovella opened #74 "Actor is not unique exception when configuring two backends in the same actor system."
When I create two back ends in the same actor system as shown [here](https://gist.github.com/aiacovella/a315cd49fa9aa3e02bb0d469692769c0)

I get the following [exception](https://gist.github.com/aiacovella/be4252d43e745cb048ed2689321dbaef)

[2016-12-05 14:23] aiacovella commented on #74
This happens when you have two anonymous actors defined. For now I got around it by making them classes.  The problem seems to be [here](https://github.com/strongtyped/fun-cqrs/blob/develop/modules/akka/src/main/scala/io/funcqrs/akka/backend/AkkaBackend.scala#L24) because the two anonymous actors will return the same name.

[2016-12-10 15:08] #64 closed

[2016-12-10 18:36] rcavalcanti opened #75 "Replace type projections by path dependent types"
This idea have being around for quite some time. Fun.CQRS make extensive usage of type projections.

Type projections are not ideal because:

- it offers poor type inference in some cases
- it will probably be removed in Scala 3.0 because of unsoundness (read [this](https://github.com/lampepfl/dotty/issues/1050))

We can easily replace it with path dependent types which will improve a lot the qual

[2016-12-10 18:45] rcavalcanti opened #76 "Command and Event Handlers as PartialFunction"
The current implementation works only with total `Functions` and it requires a `ClassTag`.

This approach feels very unnatural to many developers as in general we should always be able to pass a PF where a `Function` is expected.

For instance, the following code won't compile because of the required `ClassTag`
[code]

Developers get a compilation error and that's totally unexpected.

This issue d

[2017-01-16 21:37] rcavalcanti commented on #76
I dId some experiments in order to reintroduce `PartialFunction` and remove the `ClassTag`.

It turns out that we can't resolve the `InvokerDirectives` implicits when using `PartialFunctions`.

I'm considering to introduce some wrappers that explicitly express the kind of command handlers we are passing. This will allow us to go back to `PartialFunctions`, remove implicit magic based on higher-kin

[2017-02-08 20:45] rcavalcanti commented on #74
fixed by PR #78

[2017-02-08 20:45] #74 closed

[2017-02-16 10:00] datalchemist opened #80 "RxScala dependency for 2.11"
Hi,
Versions 0.4.9 and 0.4.10 depends on RxScala 2.12. I can see that it is actually hard-coded in your dependency files: "rxscala_2.12"

It looks like a problem. Is there a reason for this?

Best

[2017-02-16 10:08] rcavalcanti commented on #80
Yes, the reason is that they are not providing a version for 2.11 for their latest version.
And they are not providing a 2.12 for their previous version.

I have to hard coded it because we are now supporting cross build (2.11 and 2.12) and I need a version that works for both builds.

However, you force me to review it and I just realised that it's being added as a dependency on fun-cqrs-core. Th

[2017-02-16 10:32] datalchemist commented on #80
Ok, I see.
Note that it seems that the rxScala version you use, 0.26.4, is (at least now) actually available for both 2.11 and 2.12 So, I guess it should not be necessary anymore to stick to the 2.12 version.

Concerning the dependency on fun-cqrs-core, RxScala is indeed referenced in the "mainDeps" which are used for all projects AND it is also referenced individually in the testkit project. So,

[2017-02-16 10:49] rcavalcanti commented on #80
Feel free to send a PR if you want. I can make a quick release for you.

[2017-02-16 12:03] datalchemist commented on #80
Yes, I can do that. That sounds good.
However, I don't have the rights to push my changes. Could you add me to the contributors?

[2017-02-16 12:04] rcavalcanti commented on #80
the way to do is to fork the repo, push the changes to your fork and open a PR

[2017-02-16 12:05] rcavalcanti commented on #80
When you push to your fork, GitHub will ask if you want to send a PR to the original Repo. That's how you start the process.

[2017-02-16 12:19] datalchemist commented on #80
Ok, sorry, I am quite new with github contributions...

Anyway, I did like you said and submitted a PR on the master branch.

[2017-02-17 17:57] lmlynik commented on #72
In akka 2.5 it will be renamed back to EventEnvelope so it will be fixed when that will be released

[2017-02-17 18:00] #80 closed

[2017-02-17 18:04] rcavalcanti commented on #72
Yes, but the type won't be compatible.

Current `EventEnvelope` only supports `Long`.

`EventEnvelope` has an `Offset` instead which can be a Long or a timebase UUID.

So, we need to move to `EventEnvelope2` and support both Long and UUID. I've been working on that this recently and for the moment I will concentrate on getting this PR #77 merged.

After that, I need to re-think the projections in

[2017-02-17 23:23] rcavalcanti commented on #69
fixed on 0.4.11

[2017-02-17 23:23] #69 closed

[2017-02-18 13:35] #75 closed

[2017-02-18 13:35] #76 closed

[2017-05-22 13:21] #54 closed

[2017-06-28 08:08] rcavalcanti commented on #72
This is done on the last milestone release (v1.0.0-M2).

The new projection design is agnostic of `EventEnvelope` because it's not linked to backend anymore. You can create any projection based on whatever stream technology as long as you have a integration point with `org.reactivestreams.Publisher`.

[2017-06-28 08:20] #72 closed

[2017-08-03 17:49] jasongoodwin opened #85 "PersistedOffsetAkka mechanism inefficient"
The PersistedOffserAkka mechanism calls `deleteMessages(seqNrToDelete)` which looks like this in Akka Persistence:

[code]

Which will check all of the records to see if any need to be updated.
This is executed on every offset update.

[2017-08-03 19:23] jasongoodwin commented on #85
I guess this is only relevant for M1 - looks like it's deprecated in M2

[2017-08-03 21:35] rcavalcanti commented on #85
Yes, the `PersistedOffsetAkka` was a terrible idea. Initially offset were not deleted, but I got some systems where this was producing too much garbage. If you have 500000 events and 5 projections you get 2.5 millions events that had no business value. Hence the idea to delete it.

I would rather remove it and have extensions points providing `OffsetPersistenceStrategies` for different DBs.

DB sp

[2017-08-03 21:52] jasongoodwin commented on #85
Hmm okay - this is helpful info for understanding what's happening behind
the abstractions - The delete only marks it deleted in the db with the pg
backend we use (maybe not true with every journal plugin) so it has to go
through each event and check if it's already deleted the events (eg delete
is 'soft' ). Im realizing that the combination of the deletes with the
specific backend might be strict

[2017-08-03 22:16] rcavalcanti commented on #85
@jasongoodwin I'll be glad to see you forking and contributing. But this is not something to solve with a fork. You can use your own `OffsetPersistenceStrategy`.

You can make one based on akka-persistence that never deletes. Or one that save the offset as a snapshot. But the best one is to use postgres and ave the offset in table.

As I said, `PersistedOffsetAkka` is a bad idea and I hope to dele

[2017-08-03 22:18] rcavalcanti commented on #85
Ok, I got your point. You are on M1.

You can still use your own strategy. Akka or Postgres based. What you won't get in M1 is the possibility to have something with `exactly-once` semantics

[2017-08-14 06:57] idoshamun commented on #62
Any news to share about this?

[2017-08-14 07:38] rcavalcanti commented on #62
@idoshamun, no progress so far. Current systems in prod are not being hit by this issue and I haven't find time to continue it.

Looking forward for help.

[2017-08-14 07:46] idoshamun commented on #62
I have just started to investigate this whole CQRS / Event Sourcing architectures and bumped into your library. How come production systems don't need this feature? How do they distribute their service to more than one server without clustering support?

[2017-08-14 08:24] pjan commented on #62
@idoshamun everything for this is implemented in `akka-d3` and production battle tested. (including readside, as long as you use `cassandra` that is – there's an interface for other backends if you need them, and implementation "should be straightforward").

If you tune your system well, with a sensible time to sleep for persistent actors, a single node can host *a lot* of entities before you need

[2017-08-14 08:31] idoshamun commented on #62
My main concern actually is high availability right now, at least 2 nodes is mandatory for HA and without clustering you can't achieve consistency. I'll take a look at `akka-d3` as well

[2017-08-14 16:07] pawelkaczor commented on #62
@idoshamun You might find https://github.com/pawelkaczor/akka-ddd interesting as well.

[2017-08-31 13:52] cvanfleteren opened #87 "The EventsMonitorActor is hardcoded to timeout after 10 seconds"
This should at minimum be configurable. But I think it's better to base this timeout on the async-projection-timeout of the underlying projection actor. I'm event wondering: do we even realy need an explicit timeout on the EventsMonitor at all? Since the underlying projection actor will timeout,  shouldn't that projection stop and take the EventsMonitor with it? Maybe on timeout in the projectionA

[2017-09-04 14:09] rigolepe opened #88 "AggregateActor "pipeTo self" bypasses termination logic of AggregateManager"
Hi,

During stress-testing on fun.cqrs, we frequently see the following scenario:

[code]

The bottom-line is that the `pipeTo self` in following code in the AggregateActor is not being routed through the termination logic in `def forward(message: Any)` of the AggregateManager. This results in the piped command not being cached for processing in the new AggregateActor.

[code]

So, the solution wo

[2017-09-05 08:59] rigolepe commented on #88
After an extensive search, the solution was super-simpel. See merge request https://github.com/strongtyped/fun-cqrs/pull/89

[2017-09-05 14:51] rcavalcanti commented on #88
fixed by #89

[2017-09-05 14:51] #88 closed

[2017-09-05 14:51] rcavalcanti commented on #88
Thanks @rigolepe

[2018-01-05 15:45] firehooper opened #93 "Future of fun-cqrs"
Hello @cvanfleteren .  We are trying to decide whether to switch our application (not yet in production) from fun-cqrs to lagom.  Is https://github.com/WegenenVerkeer/fun-cqrs the new source of truth for this project?  What are your long term plans for maintaining this project and do you have applications in production using it?

[2018-01-05 16:25] renatocaval commented on #93
I'm won't be supporting Fun.CQRS myself anymore as I have joined Lightbend and I'm now working on the Lagom team. I do accept PRs and make releases for this project whenever asked.

I'm surprised that my ex-colleagues at AWV have forked it and are not contributing back. @cvanfleteren  / @rigolepe, really? Why?  You both are maintainers of this repo. You can add features, fix bugs, review and merge

[2018-01-05 21:00] rigolepe commented on #93
Hello Renato and @firehooper ,

The AWV fork is not supposed to be the official repo, it's where we commit our changes that we want to test & deploy quickly. It allows us to cycle fast so that we don't have to wait for official releases to fix things and do new stuff. We have many production systems on fun.cqrs, and we just have to be able to move quickly when we have to.

Bugfixes have been merge

[2018-01-15 12:38] renatocaval commented on #93
@rigolepe, I have no problem if you use the official repo for this. It could be better to push your experimentations to a branch here and keep the `develop` branch clean.

Maybe we should move out fun.cqrs from the `io.strongtyped` domain / package and you guys take it over and even do the release management. That's all fine by me.

[2018-01-16 08:01] rigolepe commented on #93
Hi @renatocaval,

I see no problem for us taking over the release management. Then we can drop our internal builds and release directly in the public domain. This way, it could be easier to keep the project alive as well. I'll discuss it in the team asap.

Could you briefly document the current release process? Then we can see how we can integrate it best in our workflow... Maybe we can take this

[2018-02-22 21:20] renatocaval commented on #93
@firehooper FYI, I moved  fun-cqrs from `strongtyped` organisation to `fun-cqrs` organisation and @rigolepe is now member of `fun-cqrs` org as well.

Next step is to rename the package name and maven group id to detach it from Strong[Typed]. The release cycle will be managed by my old colleagues at AWV where @rigolepe is the team leader.

I'm closing this issue...

[2018-02-22 21:20] #93 closed

[2018-03-16 22:07] firehooper opened #94 "Multiple aggregates per actor system?"
I believe fun-cqrs only allows one aggregate type per actor system, correct?  Is adding support for multiple aggregate types in the same actor system on the roadmap?  Would you be open to a PR that allow more than one?  If so could you please point me to which files might need reworked.

[2018-03-19 08:57] renatocaval commented on #94
There is nothing holding you to have multiple aggregates. Have you tried it?

[2018-04-03 16:38] firehooper commented on #94
Sorry for my misunderstanding.  Yes looks like multiple aggregates can be used in the same actor system, but they will all be stored in the same journal / event stream.  Would it be possible have a specific aggregate use a specific journal?

[2018-04-09 12:17] renatocaval commented on #94
No, that won't be possible. In general, events from different aggregates are saved on the same journal, because it's the journal of your system. If they are on the same application, they go to the same journal.

However, Akka does allow you to configure different journals (since 2.5.x I believe). Fun.CQRS won't support it so you will need to provide a PR for it.

[2018-05-17 17:39] firehooper opened #98 "Would you be willing to accept a pull request for the Projection trait to have a additional method handler when event is successfully handled?"
Would you be willing to accept a pull request for the Projection trait to have a additional method handler when event is successfully handled?  Or do you have an alternative suggestion.

`trait Projection[E] {

  // side effects after event is handled like publishing to an eventbus
  type OnSuccess   = PartialFunction[E, Future[Unit]]

  def onSuccess: OnSuccess = PartialFunction.empty
}
`

[2018-10-04 19:18] jasongoodwin commented on #85
yeah just for anyone who stumbles on this thread in the future, I just log the offset elsewhere with a custom strategy.

[2018-10-04 19:18] #85 closed

[2019-06-03 07:27] FelixKuehl commented on #98
I would also be interested in this? Any activity here?

[2019-06-03 12:32] rigolepe commented on #98
We could add this (or accept a pull request that does this), but we should be careful when replaying a projection (e.g. when a query model changes) to not repeat the side effect this way.

Activity has been calm here indeed, although fun-cqrs is being used extensively in some production applications.

[2019-06-25 18:21] firehooper opened #100 "Support for Scala 2.13"

[2021-03-29 19:41] firehooper commented on #100
Released in 1.0.2
https://mvnrepository.com/artifact/org.funcqrs/fun-cqrs-core_2.13/1.0.2

[2021-03-29 19:41] #100 closed